@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);:root {
  --font-color: #66EB9A;
  --normal-font-color: #343a40;
  --background-color: #343a40;
}

.navbar a.logoNav {
  color: var(--font-color);
}

.navbar a.logoNav:hover {
  opacity: 0.8;
}

.navbar a.logoNav:visited {
  color: var(--font-color);
}

div.jumbotron {
  margin: 0 auto;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

a.fa:hover {
  opacity: 0.7;
}

.allPostsContainer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: start;
          align-items: flex-start;
  flex-wrap: wrap;
}

.allPostsContainer .containerPost {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  margin: 10px;
  width: 30%;
}

.allPostsContainer .containerPost .postLink {
  text-decoration: none;
  color: var(--normal-font-color);
}

.allPostsContainer .containerPost .postLink:hover {
  color: var(--font-color);
}

.allPostsContainer .containerPost .postImage {
  width: 50%;
}

.allPostsContainer .containerPost .productNumber {
  margin: 10px 0;
}

.page-footer {
  background: var(--background-color);
}

.page-footer .container a.footerTitle {
  color: var(--font-color);
}

.page-footer .container a.footerTitle:hover {
  opacity: 0.8;
}

